/* Regole Generali */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Open Sans', sans-serif;
}

/* Regole header */
header{
    position: fixed;
    z-index: 500;
}


#top-pannel{
    width: 100%;
   
    display: flex;
    justify-content: space-between;

    /* DEBUG */
    background-color: brown;
    height: 10vh;
    padding: 15px;
}

#left-part{
    display: flex;
}

#logo {
    margin-right: 20px;
    /* DEBUG */

    background-color: aqua;
    width: 100PX;
    height: 30PX;
}

.pannel-list{
    list-style: none;
    display: flex;
}

.item{
    border: solid 1px black ;
    width: 70px;
    height: 30px;
    margin-right: 10px;
}

#right-part{
    display: flex;
}

.btn {
    /* DEBUG */

    width: 90px;
    height: 30px;
}

     /*DEBUG  */

 .big-container{
    
    background-color: cornflowerblue;
 }  
 
 .small-container{
    
    padding-top: 8% ;
   
    margin: auto;
    /* DEBUG */
    
    
    border: 1px solid black;
   
 }
 .small-container,.small-container-2{
    width: 60%;
   
    padding-left: 3%;
    padding-right: 3%;
    margin: auto;
 }
 .small-container-2{
    padding: 20px 20px;
 }

 .content {
    display: flex;
    justify-content: space-between;
    /* margin: 10px 10px; */
}

.title{
    background-color: yellow;

 
    
}
.title #main-title{
    font-size: 45px;
    margin: 5px 10px;
}

 .paragraph{
    /* DEBUG */
    width: 40%;
    background-color: red;
    
 } 

 .picture{
    width: 60%;
    background-color: blue;
    

    /* DEBUG */


 }

.no-border{
    background-color: red;
    border: none;
}

 .p-btn{
    padding: 5px 5px;
 }

 #arrow-down{
    background-color: brown;
    width: 40px;
    height: 40px;
 }

 .mini-container{
    width: 80%;
    margin: auto;
 }
 
 .row{
    border: 1px black solid;
    display: flex;
    justify-content: space-around;
 }
 .column {
    border: 1px solid black;
    width: 25%;
    height: 50vh;
}

#team{
    border: solid 1px black;
    height: 20vh;
    
}
#link{
    margin-top: 1%;
    font-size: 12px;
}

.maxi-container , .big-square ,.square{
    border: solid 1px black;
}
.maxi-container{
    display: flex;
    height: 60vh;

}

.big-square{
    width: calc(100% / 3);

}


    /* DEBUG */
    .square {
        height: 191px;
        background-color: chartreuse;
        width: 224PX;
    }

    .big{
        margin: 
    }

    .big{
        padding: 70px 20px;
        margin-bottom:50px 
    }

