/* Regole Generali */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Open Sans', sans-serif;
}

/* Regole header */
header{
    position: fixed;
    z-index: 500;
}

/* Regole Pannello superiore e parti destra e sinistra */

#top-pannel{
    width: 100%;
   background-color: white;
    display: flex;
    justify-content: space-between;
     align-items: center;
     padding: 1%;
}

#left-part{
    display: flex;
}

#logo {
    margin-right: 15px;
    margin-top:  3px;
}

#right-part{
    display: flex;
   
}

.btn {
    
    cursor: pointer;
    
    
   }

   .btn:hover{
    background-color:cornflowerblue;
    color: white;
    border: none;
   }

   .top,.item{
    padding: 5px 10px;
   }

   
.top,.blue{
    color: white;
    border: none;
    background-color: #0061fe;
    
    
}

  /*Regole lista , item lista e link  */

.pannel-list{
   
    display: flex;
}

.check-list , .pannel-list{
    list-style: none;
}

.item{
    
   padding: 5px 10px;
    margin-right: 10px;
   
}

.top-link{
    color: black;
    font-size: 13px;
    text-decoration: none;
    padding-bottom: 15px;
}

.top-link:hover{
    border-bottom: 2px solid black;
}



    /* Regole Contennuto principale */

 .big-container{
    
    background-color: #bacdf0;
    margin-bottom: 50px;
    padding-bottom: 30px;
    
 }  
 
 .small-container{
    
    padding-top: 4% ;
}

 .small-container,.small-container-2{
    width: 60%;
  
    padding-left: 3%;
    padding-right: 3%;
    margin: auto;
}

 .small-container-2{
    padding: 60px 20px;
 }

 .title{
    margin:4% 0%;
}

.title #main-title{
    font-size: 45px;
   
}

/*Regole content   */

.content {
    display: flex;
    justify-content: space-between;
   
}

 .paragraph{
    
    width: 37%;
} 

#text{
    padding-bottom: 15px;
}

 .picture{
    width: 60%;
    position: relative;

}

.picture > #jumbo{
    max-width: 160%;
    position: absolute;
}

.no-border{
    background-color:transparent;
    border: none;
    cursor: pointer;
    
}



 #arrow-down{
    padding-top: 6%;
    font-size: 30px;
    padding-bottom: 2%;
    cursor: pointer;
    
    
 }

 /* Regole  piano tarriffario*/

 .proposals{
    font-size: 13px;
    padding: 15px 15px;
    
 }
 #choice{
    margin-left: 15px;
 }

 .check{
    border: 1px solid gray;
    width: 12px;
    height: 12px;
    display: inline-block;
    border-radius: 50%;
   
 }
 
 
 .check:active{
    border: blue 2px solid;
 }
 
/* Regole Tabelle */

 .row{
    padding: 15px 0px;
    display: flex;
    justify-content: space-around;
 }
 .icon {
    text-align: center;
    border-bottom: gray solid 1px;
    font-size: 12px;
    padding: 3px 0px;
}

.price, .slash , .column-icon ,#team{
    font-size: 13px;
}



.flex{
    display: flex;
    padding: 15px 0px;
}
.slash{
    color: gray;
    padding-bottom: 20px;
}
 .column {
    border: 1px solid gray;
}

.big-column{
    width: 30%;
}

.left {
    padding-bottom: 63%;
}
.right{
    padding-bottom: 47%;
}

.information{
    padding: 10px 10px;
}


.medium {
    font-size: 12px;
    margin: 20px 12px;
    padding: 10px 33px;
}

.anchor {
    padding: 0px 6px;
}

.line{
    
        width: 25%;
        color: gray;
        margin: 15px 0px;
        margin-left: 10px;
    }
    
    .check-list {
        font-size: 12px;
        padding: 10px 0px;
    }

    .check-item{
        padding: 10px 0px;

    }
    .check-it{
        padding: 50px 15px;
    }

.fa-check{
    color:blue

}

.adjust{
   
}
   /* Regole Enterprises */

#team{
    border: solid 1px gray;
    text-align: center;
    margin-bottom: 10px;
    padding: 5px 0px;
    
    
}

.content h3 , .content h4 , .content p , .content .btn{
  margin: 5px 5px;
}

.enterprise{
    border: solid 1px gray;
    width: 56%;
    margin: auto;
    padding-bottom:40px ;
}

#explanation{
    font-size: 11px;
}
.new {
  
    margin: 8px 15px;
    padding: 8px 13px;
}



/* Regole Partner */

.picture #img {
    width: -webkit-fill-available;
}

.paragraph h3 , .paragraph p{
    padding: 0px 7px;
}

#partner{
   
    background-color: white;
    border: black solid 1px;
    padding: 8px;
    margin: 11px;
}

#partner:hover{
    color: gray;
    box-shadow: 2px gray;
    border: gray solid 1px;
    }

.small-container-2 #flex-title{
    padding-top: 8%;
}
.tool .img{
    width: 100%;
}


.box h3 , .box p{
    padding: 8px 26px;
}
.box p{
    font-size: 13px;
}


.box{
  
    width: calc(100/3);

}
.link , .anchor{
    margin-top: 1%;
    font-size: 12px;
}

/*Regole servizi  */

.service {
    padding: 2% 3%;
}

/* Regole sponsor */

.mega-flex{
    display: flex;
    background-color: #e7e5e5;
}

.mega-flex .sponsor{
    width: calc(100% / 3);
    
}

.mega-flex .flex{
    display: flex;
    flex-wrap: wrap;
}

.sponsor .square{
    position: relative;
    width: 50%;
    height:calc(100vw / 6)
    
}

.sponsor img{
    width: 50%;
}

.sponsor.flex img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: brightness(0) invert(1);
}

.mega-flex hr{
    width: 27%;
}

.gray span{
    display: block;
    margin: 40px 0 350px 0;
}
/* Colore square */
    .green{
        background-color: rgb(95, 255, 95);
        border: 10px solid #9cfc9c;
        
    }

    .brown{
        background-color: brown;
    }

    .light-blue{
        background-color: rgb(37, 125, 203);
    }

    .red{
        background-color: red;
    }

    .gray{
        background-color: rgb(231, 229, 229);
        padding: 30px;
        height: calc(100vw / 3);
        overflow: auto;
    }

    .dark-blue{
        background-color: rgb(2, 2, 62);
    }

    .yellow{
        background-color: yellow;
    }

.bg-light h3{
    color: rgb(141, 44, 44);

}
.bg-light{
    background-color: cornflowerblue;
}

/* regole faq */

.content  .title{
    font-size: 30px;

}

#bottom {
    background-color: white;
    padding: 7px 45px;
    margin-top: 20%;
    border: none;
}

#bottom:hover{
    border: gray 2px solid;
    color: gray;
    
}
    #faq-line{
        border: black solid 1px;
        
        
        

    }
    .faq , .faq-2 {
        padding-top: 20px;
        font-size: 13px;
        font-weight: bold;
        margin-top: 30px;
    }
    .faq-2{
        border-bottom: 1px solid black;
        padding-bottom: 30px;
    }

    
    .arrow , .flag-arrow{
        cursor: pointer;
    }

    .transition, .faq li i:before, ul li i:after, p {
        transition: all 0.25s ease-in-out;
      }
      
      .flipIn, .faq li, h1 {
        animation: flipdown 0.5s ease both;
      }
      
      .no-select,  {
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
      .faq {
        min-height: 0;
        display: inline-block;
        position: relative;
        left: 50%;
        transform: translate(-50%, 0);
      
      
      }
      @media (max-width: 550px) {
        .faq {
          box-sizing: border-box;
          transform: translate(0, 0);
          max-width: 100%;
          min-height: 100%;
          margin: 0;
          left: 0;
        }
      }
      
   .faq p {
       font-size: 13px;
        line-height: 26px;
        letter-spacing: 1px;
        position: relative;
        overflow: hidden;
        max-height: 800px;
        opacity: 1;
        transform: translate(0, 0);
        margin-top: 14px;
        z-index: 2;
      }
      
     .faq ul {
        list-style: none;
        perspective: 900;
        padding: 0;
        margin: 0;
      }
     .faq ul li {
        position: relative;
        padding: 0;
        margin: 0;
        padding-bottom: 4px;
        padding-top: 18px;
       
      }
      ul li:nth-of-type(1) {
        animation-delay: 0.5s;
      }
      ul li:nth-of-type(2) {
        animation-delay: 0.75s;
      }
      ul li:nth-of-type(3) {
        animation-delay: 1s;
      }
      ul li:last-of-type {
        padding-bottom: 0;
      }
      ul li i {
        position: absolute;
        transform: translate(-6px, 0);
        margin-top: 5px;
        right: 0;
      }
      ul li i:before, ul li i:after {
        content: "";
        position: absolute;
        background-color:white;
        width: 3px;
        height: 9px;
      }
      ul li i:before {
        transform: translate(-2px, 0) rotate(45deg);
      }
      ul li i:after {
        transform: translate(2px, 0) rotate(-45deg);
      }
      ul li input[type=checkbox] {
        position: absolute;
        cursor: pointer;
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: 0;
      }
      ul li input[type=checkbox]:checked ~ p {
        margin-top: 0;
        max-height: 0;
        opacity: 0;
        transform: translate(0, 50%);
      }
      ul li input[type=checkbox]:checked ~ i:before {
        transform: translate(2px, 0) rotate(45deg);
      }
      ul li input[type=checkbox]:checked ~ i:after {
        transform: translate(-2px, 0) rotate(-45deg);
      }
      .faq h2{
        font-size: 13px;
      }

      .faq-list .faq-item {  
        transition: all ease-in-out 1s;
      }

      .faq-list .faq-item:hover  {
        background-color: #0061fe;
        color: white;
      }
      
      .faq-item{
        border-bottom: 2px black solid;
        padding: 10px 0px;
      }
      @keyframes flipdown {
        0% {
          opacity: 0;
          transform-origin: top center;
          transform: rotateX(-90deg);
        }
        5% {
          opacity: 1;
        }
        80% {
          transform: rotateX(8deg);
        }
        83% {
          transform: rotateX(6deg);
        }
        92% {
          transform: rotateX(-3deg);
        }
        100% {
          transform-origin: top center;
          transform: rotateX(0deg);
        }
      }
    /*Regole footer  */

    footer{
        background-color: black;
        /* height: 200px; */

    }

    #bottom-pannel{
        width: 60%;
        margin: auto;
        padding-top: 30px;
        color: white;
        display: flex;
        justify-content: space-between;


    }
    .bottom-list{
        list-style:none;
    }
    .bottom-link {
        text-decoration: none;
        color: white;
        font-size: 10px;
        
    }
    .bottom-link:hover{
        text-decoration: underline;
        color: white;
    }
   

    .flag{
        font-size: 12px;
        padding-bottom: 30%;
        
    }

    .flag-arrow{
        font-size: 8px;
    }

    #flag-line {
        color: white;
        margin: 14px 0px;
        width: 71%;
    }

